<div class="jumbotron">
    <h1>Milwaukee Riverkeeper Survey Management</h1>
    <p class="lead">Milwaukee Riverkeeper Survey Management is an online service for managing submission of citizen provided river surveys.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Manage Survey Responses</h2>
        <p>Review survey responses.</p>
        <p>
            @Html.ActionLink("View Responses", "Index", "SurveyResponse", new { area = "" }, new { @class = "btn btn-default btn-primary" })
        </p>
    </div>
    <div class="col-md-6">
        <h2>API Overview</h2>
        <p>Review the functionality of the Milwaukee Riverkeeper Survey Management API. Various methods are available for getting and submitting user provided survey data</p>
        <p>
            @Html.ActionLink("View API", "Index", "Help", new { area = "" }, new { @class = "btn btn-default btn-primary" })
        </p>
    </div>
</div>
