
@{
    ViewBag.Title = "Survey Responses";
    var answers = ViewBag.Answers;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/styles/handsontable.full.min.css" />
    <script src="~/Scripts/handsontable.full.min.js"></script>
</head>

<style>
    .handsontable th {
        white-space: normal !important;
    }
</style>

<body>
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <button onclick="makeCsv(dataObject)" class="btn btn-default btn-primary"> Download </button>
            </div>
        </div>
        <h2>Survey Responses</h2>
    </div>
    <div id="hot"></div>
</body>

<script>
    var dataObject = @Html.Raw(@answers);
    var hotElement = document.querySelector('#hot');
    var hotElementContainer = hotElement.parentNode;
    var hotSettings = {
     data: dataObject,
        stretchH: 'all',
        autoWrapRow: true,
        height: 600,
        maxRows: 22,
        rowHeaders: true,
        colWidths: 100,
        readOnly: true,
        colHeaders: [
            "SurveyID",
            "CreatedBy",
            "CreatedOn",
            "Your name:",
            "Station<br> name:",
            "Start of Monitoring <br> Date and Time:",
            "Water <br> Conditions",
            "Water <br> Level",
            "How aesthetically pleasing <br> do you find the site?",
            "Please describe.<br> List any factors<br> that make it <br>pleasing or not pleasing",
            "Is the color or <br> clarity of the <br> water unattractive?",
            "If yes, <br>please describe",
            "If yes, <br>does the unattractive<br> water color or clarity <br>prevent you from accessing<br>, enjoying or using the water?",
            "Please select<br> the choice that best<br> describes the <br>present water color appearance",
            "If other, <br>please describe",
            "Please select <br>the choice that <br>best describes the<br> present water<br> clarity appearance",
            "Please select<br> any applicable <br>attribute <br>related to the <br>present water surface",
            "If other, <br>please indicate",
            "Is there <br>floating or submerged<br> garbage present<br> in the water?",
            "If yes,<br> please select <br>visible item(s)",
            "If yes,<br> does the garbage <br>in the water prevent <br>you from accessing,<br> enjoying, <br>or using the water?",
            "Are there <br>any other substances <br>present in the <br>water that are <br>nor specifically <br>mentioned on this form?",
            "If yes,<br> list what",
            "If yes,<br> do these other <br>substances in the water<br> prevent you from <br>accessing, enjoying, <br>or using the water?",
            "Is there <br>garbage along <br>the shoreline?",
            "If yes,<br> please select type(s)",
            "If yes, <br>does the shoreline<br> garbage prevent<br> you from accessing<br>, enjoying or using water?",
            "Along the shoreline, <br>are there problem <br>animals or problems <br>caused by animals?",
            "If yes, list type(s)",
            "If yes, do these animal-related problems prevent you from accessing, enjoying, or using the water?",
            "Is there nuisance vegetation along the shoreline?",
            "If yes, list type and amount (if known)",
            "If yes, does this nuisance vegetation prevent you from accessing, enjoying, or using the water?",
            "Are there any other shoreline substances that are not specifically mentioned on this form?",
            "Do these other shoreline substances prevent you from accessing, enjoying, or using the water",
            "Have you previously evaluated this station?",
            "If you have previously evaluated this station, what changes if any have you notices in the aesthetic quality of the water or along the shoreline since your last visit?",
            "Comments: Please include anything else you thought should be reported while completing this survey.",
            "End of Monitoring Date and Time:"
        ]
    };
    var hot = new Handsontable(hotElement, hotSettings);

    function makeCsv(rows) {
        var csvString = '';
        var columns = Object.keys(rows[0]);
        var columnsToShow = [];

        //make csv headers
        columns.forEach(function (column) {
            csvString += "\"" + column +"\"";
            columnsToShow.push(column);
            csvString += ',';
        });
        csvString += "\n";

        //make csv rows
        rows.forEach(function (element) {
            columnsToShow.forEach(function (key) {
                if (typeof element[key] !== "string" && element[key + "_text"])
                    key = key + "_text";

                csvString += "\"" + element[key] + "\"";
                csvString += ',';
            });
            csvString += "\n";
        });

        var csvContent = "data:text/csv;charset=utf-8,";
        csvContent += csvString;
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Survey Responses " + (new Date().toDateString()) + ".csv");
        document.body.appendChild(link); // Required for FF
        link.click();
    }

</script>








